@use './_variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@500&display=swap');

:root {
	font-family: Inter;
}
@mixin title($color) {
	color: $color;
	font-family: Space Grotesk;
	font-weight: 500;
	font-size: 36px;
	margin-bottom: size(4);
	@media (max-width: 700px) {
		& {
			font-size: 28px;
		}
	}
}
.title {
	@include title(on-surface(2));
}
.subtitle {
	color: on-surface(1);
	font-family: Space Grotesk;
	font-weight: 500;
	font-size: 1.3rem;
	margin-bottom: size(2);
}

.title-on-primary {
	@include title(on-primary(2));
}

.link {
	text-decoration: underline;
	color: primary(5);
	position: relative;
	&::after {
		@include pseudo;
		bottom: -1px;
		height: 3px;
		width: 0;
		background-color: primary(5);
		transition: width 200ms;
	}
	&:hover::after {
		width: 100%;
	}
}
